<%- include('partials/head') %>
  </head>

  <body class="flex flex-wrap flex-col items-center">
    <%- include('partials/header') %>
      <h1 class="text-green-500 bg-amber-100 text-2xl p-4 font-medium shadow-lg rounded-lg mt-10 w-full text-center">
        Home Added Successfully!</h1>
      <p class="text-amber-500 mt-10">Your new home has been added to the system.</p>
  </body>

  </html>