.buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 7px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 2px 2px #888888;
}

button:active {
  box-shadow: 0 0 3px #888888 inset;
  font-size: 19px;
}

.acBtn {
  background-color: lightpink;
  color: red;
}

.eqBtn {
  background-color: lightskyblue;
  color: rgb(0, 94, 255);
}