<%- include('partials/head') %>
  </head>

  <body class="flex flex-col flex-wrap items-center">
    <%- include('partials/header') %>
      <h1 class="text-6xl font-bold text-red-500  m-5">404</h1>
      <p class="text-gray-500">Oops! Page Not Found</p>
      <a href="/" class="border text-white font-medium bg-sky-900 rounded-md p-1 px-4 mt-4">Go Back To Home</a>
  </body>

  </html>