<%- include('../partials/head') %>

  <body class="bg-blue-500">
    <%- include('../partials/header') %>
    <main class="container my-10 w-85 mx-auto rounded-lg p-6 bg-white shadow-md">
      <h1 class="text-3xl font-bold text-center text-black mb-8">Hello!</h1>
      <h3 class="text-xl text-black mb-6 text-gray-700">Sign In to Get Started</h3>
      <form action="/login" method="POST">
        <div class="relative w-full">
          <input
            class="border border-gray-300 rounded-full py-3 pl-12 mb-4 w-full focus:outline-none focus:border-sky-500"
            type="text" id="email" name="email" placeholder="Email Address" required>
          <div class="absolute inset-y-1 left-4 flex items-center pointer-events-none">
            <i class="fa-regular fa-envelope text-gray-300 pb-4 text-xl"></i>
          </div>
        </div>
        <div class="relative w-full">
          <input
            class="border border-gray-300 rounded-full py-3 pl-12 mb-4 w-full focus:outline-none focus:border-sky-500"
            type="password" id="password" name="password" placeholder="Password" required>
          <div class="absolute inset-y-0 left-4 flex items-center pointer-events-none">
            <i class="fa-solid fa-lock text-gray-300 pb-4 text-xl"></i>
          </div>
        </div>
        <input class="text-white bg-blue-500 py-3 px-4 mb-4 w-full rounded-full hover:bg-blue-600 cursor-pointer"
          type="submit" value="Login">
          <a href="#" class="text-gray-600 hover:text-black">Forgot Password</a>
      </form>
    </main>

  </body>

  </html>