<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main class="container mx-auto mt-20 text-center">
        <h1 class="text-5xl text-red-500 font-bold mb-4">My Bookings</h1>
        <p>Bookings will appear here</p>
      </main>
  </body>